# Ignora file di documentazione
README*.md

# Ignora file Docker (non necessari nell'immagine)
Dockerfile
docker-compose.yml
.dockerignore

# Ignora script di test e utilità (non necessari nell'immagine)
private/*
!private/docker-entrypoint.sh

# Ignora file Git
.git
.gitignore

# Ignora file temporanei
*.tmp
*.log

vendor/*
var/*