# Configurazione Docker per Where Are You - PHP API

# Porta su cui esporre l'API (default: 8080)
API_PORT=8080

# Configurazione Database
# Percorso del file database SQLite (relativo al container)
DB_FILE=./data/db.sqlite

# Configurazione API
# Numero massimo di minuti per mantenere la geolocalizzazione
MAX_MINUTES_TO_KEEP=5

# Chiave API per gli utenti normali
USER_API_KEY=IDDKFA

# Chiave API per gli amministratori
ADMIN_API_KEY=LMFAO
